<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989640490656-g17modo02kiikb6t3j3q4gl7qv7dfdni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989640490656-g17modo02kiikb6t3j3q4gl7qv7dfdni</string>
	<key>API_KEY</key>
	<string>AIzaSyAzjMrbVAkHItP_CdDxf5tUCWmXk32OQeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>989640490656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfixMobile</string>
	<key>PROJECT_ID</key>
	<string>psa-vpn2</string>
	<key>STORAGE_BUCKET</key>
	<string>psa-vpn2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989640490656:ios:6e2d98fbe9bbdbad5413c5</string>
</dict>
</plist>